            
            <!-- Generic Pagination Links -->
            
            <div class="pagination pull-right">
                <ul>
                    <li {% if not obj.has_previous %}class="disabled"{% endif %}>
                        <a href="?page={{ obj.previous_page_number }}">«</a>
                    </li>
                    {% for page in obj.paginator.page_range %}
                    <li {% if page == obj.number %}class="active"{% endif %}>
                        <a href="?page={{page}}">{{page}}</a>
                    </li>
                    {% endfor %}
                    
                    <li {% if not obj.has_next %}class="disabled"{% endif %}>
                        <a href="?page={{ obj.next_page_number }}">»</a>
                    </li>
                </ul>
            </div>



