<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Website Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Checking if a website is running">
    <meta name="author" content="Paul Horner">
    <link href="{{MEDIA_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{MEDIA_URL}}css/bootstrap-responsive.min.css" rel="stylesheet">
    <!--
                     _____
                   .'/L|__`.
                  / =[_]O|` \
                  |"+_____":|      If anything goes wrong 
                __:='|____`-:__    we'll call one of our 
               ||[] ||====| []||   R2 units to come along 
               ||[] | |=| | []||   and fix it.
               |:||_|=|U| |_||:|
               |:|||]_=_ =[_||:| 
               | |||] [_][]C|| |
               | ||-'"""""`-|| |
               /|\\_\_|_|_/_//|\
              |___|   /|\   |___|   
              `---'  |___|  `---'   
                     `---' 
    -->
  </head>
  
  <body class="preview">
{% if request.user.is_authenticated %}

<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">

       <div id="main-menu" class="nav-collapse pull-right">
           <ul id="main-menu-left" class="nav">
               <li><a href="{% url home %}">Monitoring</a></li>
               <li><a href="{% url outages %}">Outages</a></li>
               <li><a href="{% url logout %}">Logout</a></li>
           </ul>
       </div>
     </div>
   </div>
 </div>
{% endif %}
 
 
    <div class="container">
        <div class="row" style="margin-top:80px;">
            <div class="span8">
                <header class="jumbotron subhead" id="overview">
                  <h1>Website Monitoring</h1>
                  <p class="lead">Checking your sites so you don't have to...</p>
                </header>
            </div>
            <div class="span4">
                <div id="countdown">{% block info %}{% endblock %}</div>
            </div>
        </div>
    {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="span12">
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-block{% endif %}">
                    {{ message }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}


{% block section %}

{% endblock %}

    <br/><br/><br/><br/>

      <footer class="footer">
        <p class="pull-right">
            {% if request.user.is_authenticated %}
            <a href="#">Back to top</a>
            {% endif %}
        </p>
      </footer>

    </div>
    <script src="{{MEDIA_URL}}js/jquery-1.8.0.min.js"></script>
    <script src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>
