{% if error_count %}
<div class="row">
    <div class="span12">
        <div class="alert alert-error">
            Something is wrong in this group.  You need to fix it quickly!
        </div>
    </div>
</div>
{% else %}
{% if warning_count %}
<div class="row">
    <div class="span12">
        <div class="alert alert-warning">
            Something may be wrong in this group.  You should check it out.
        </div>
    </div>
</div>
{% endif %}
{% endif %}
<div class="row">
    <div class="span12">
        {% for site in sites %}
            <span class="site control-group{% if site.down_count >= 3 %} error{% else %}{% if site.down_count != 0 %} warning{% endif %}{% endif %}" name="{{site.pk}}" style="cursor: pointer;">
            {% if site.down_count >= 3 %}
                <span class="label label-important">ERROR!</span>
            {% else %}
                {% if site.down_count != 0 %}
                <span class="label label-warning">Warning</span>
                {% else %}
                <span class="label label-success">OK</span>
                {% endif %}
            {% endif %}
                <span class="{% if site.down_count != 0 %}help-inline{% else %}data{% endif %}">
                    <strong>{{site.title}}</strong> (<a href="{{site.url}}" target="_blank" title="Opens in a new window">{{site.url}}</a>) was last seen on {{site.last_seen|date:"l, jS F"}} at {{site.last_seen|date:"g:ia"}}
                    {% if site.down_count >= 3 %}
                    <strong>We have checked this site {{site.down_count}} times</strong>.
                    {% endif %}
                </span>
            </span>
            <div class="well history" id="history-{{site.pk}}" style="display:none;"></div>
            <br/>
        {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.site').live('click', function(){
        var pk = $(this).attr('name');
        $('#history-' + pk).show();
        $('#history-' + pk).html('<img src="{{MEDIA_URL}}img/loading.gif" alt="loading" />');
        $('#history-' + pk).load('./get-site/' + pk + '/');    
    });
    $('.history').click(function(){
        $(this).hide();
    })
</script>
