{% extends "base.html" %}
{% block section %}

{% for group in groups %}
    <section id="group-{{group.pk}}" class="section-head" name="{{group.pk}}">
      <div class="page-header">
          <h1>{{group.title}}</h1>
      </div>
      <div id="content-{{group.pk}}">
          <img src="{{MEDIA_URL}}img/loading.gif" alt="loading" />
      </div><br/><br/><br/>
    </section>
{% endfor %}
{% endblock %}
{% block js %}
<script type="text/javascript">
    function load_content(){
        $("#countdown").addClass('alert');
        $("#countdown").removeClass('alert-error');
        $("#countdown").removeClass('alert-info');
        $("#countdown").addClass('alert-warning');
        
        $("#countdown").html('Data is refreshing...')
        $('.section-head').each(function() {
           var id = $(this).attr('name');
           // put the loading animation in place
           $('#content-' + id).html('<img src="{{MEDIA_URL}}img/loading.gif" alt="loading" />');
           // load the URL
           $('#content-' + id).load('./get-group/' + id + '/');
        });
        
        countdown(120);
        // if you click on a 'site', it should show information about that site underneath it
        
    }
    
    function countdown(seconds){
        $("#countdown").removeClass('alert-error');
        $("#countdown").removeClass('alert-warning');
        $("#countdown").addClass('alert-info');
        var seconds = seconds;
        setTimeout(update_countdown(), 1000);
        function update_countdown(){
            seconds--;
            
            if (seconds > 0) {
                $("#countdown").text("Data will refresh in " + seconds + " seconds");
                   setTimeout(update_countdown, 1000);
               
                if (seconds == 15){
                    $("#countdown").removeClass('alert-error');
                    $("#countdown").removeClass('alert-info');
                    $("#countdown").addClass('alert-warning');
                    }
                if (seconds == 5){
                    $("#countdown").removeClass('alert-warning');
                    $("#countdown").removeClass('alert-info');
                    $("#countdown").addClass('alert-error');
                    }
                } 
            else {
                load_content();
            }
        }
    }
    
    $(function() {
        load_content();
    });
    
</script>
{% endblock %}
