{% extends "base.html" %}
{% block section %}

<div class="row">
    <div class="span12">

       <form class="form-horizontal well" method="post" action="{% url login %}">
           {% csrf_token %}
        <fieldset>
          <legend>Login</legend>
          <div class="control-group">
            <label for="username" class="control-label">Username</label>
            <div class="controls">
              <input type="text" id="" class="input-xlarge" name="username" />
            </div>
          </div>
          <div class="control-group">
            <label for="password" class="control-label">Password</label>
            <div class="controls">
              <input type="password" id="password" class="input-xlarge" name="password" />
            </div>
          </div>
          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </fieldset>
      </form>
    </div>
</div>
    

{% endblock %}
{% block js %}

{% endblock %}
