{% extends "base.html" %}{% load paginator %}{% load readable_time %}
{% block section %}

    <section id="outage" class="section-head" name="outage">
      <div class="page-header">
          <h1>Outages</h1>
      </div>
      <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Code</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Systems</th>
                    <th>Time Down</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                        {% for outage in outages %}
                          <tr>
                            <td>{% if outage.code %}#{{outage.code}}{% else %}&nbsp;{% endif %}</td>
                            <td>{{outage.start_time}}</td>
                            <td>{% if outage.end_time %}{{outage.end_time}}{% else %}<span class="label label-important">CURRENT</span> {% endif %}</td>
                            <td>
                                
                                {% for site in outage.outagesites_set.all %}
                                    <span class="label{% if site.primary %} label-important{% endif %}">{{site.site.title}}</span> 
                                {% endfor %}
                            </td>
                            <td>
                                {% if outage.end_time %}
                                    {{outage.seconds_down|readable_time}}
                                {% else %}
                                    <span class="label label-important">CURRENT</span> 
                                {% endif %}
                            </td>
                            <td><a class="btn btn-small" href="{% url outage outage.pk %}">View</a></td>
                          </tr>
                        {% endfor %}
                </tbody>
              </table>
            {% paginate outages %}
        </div>
    </div>
      <br/><br/><br/>
    </section>

{% endblock %}
{% block js %}

{% endblock %}
