{% extends "base.html" %}{% load readable_time %}
{% block section %}

    <section id="outage" class="section-head" name="outage">
      <div class="page-header">
          <h1>Outage {% if outage.code %}#{{outage.code}}{% endif %}</h1>
      </div>
      <div class="row">
        <div class="span4">
            <div class="well">
                Outage Started: {{outage.start_time}}<br/>
                Outage Ended: 
                {% if outage.end_time %}{{outage.end_time}}
                {% else %}<span class="label label-important">Current</span>
                {% endif %}
                <br/><br/>
                The following systems were effected by this outage: <br/>
                {% for site in outage.outagesites_set.all %}
                    <span class="label{% if site.primary %} label-important{% endif %}">{{site.site.title}}</span> 
                {% endfor %}
                {% if outage.end_time %}
                <br/><br/>
                This outage lasted {{outage.seconds_down|readable_time}}
                {% endif %}
            </div>

            
        </div>
        <div class="span8">
            <h3>Outage log file</h3>
            {{outage.content|linebreaksbr}}
        </div>
    </div>
      <br/><br/><br/>
    </section>

{% endblock %}
{% block js %}

{% endblock %}
