{% for r in recent %}
    <span class="control-group{% if r.status_code in good_codes %} success{% else %} error{% endif %}">
        <span class="label label-{% if r.status_code in good_codes %}success{% else %}important{% endif %}">{{r.status_code}}</span>
        <span class="help-inline">{{r.attempt_time|date:"l, jS F"}} at {{r.attempt_time|date:"g:ia"}}</span>
    </span><br/>
{% empty %}
No recent views have been recorded
{% endfor %}

